/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Smooth scrolling behavior */
    overflow-y: scroll; /* Enable vertical scrollbar */
}

.section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Add a class for the background videos */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    /* Set the desired opacity (e.g., 0.7 for 70% opacity) */
    opacity: 0.2;
}

/* Show a scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Style for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

